<mat-form-field>
  <input matInput
         type="{{inputType}}"
         placeholder="{{label}}"
         id="{{id}}"
         [name]="name"
         [formControl]="control"
  >
  <fa matSuffix class="suffix-icon" [name]="'list-ul'" (click)="showList($event)" *ngIf="isList()"></fa>
  <fa matSuffix class="suffix-icon" [name]="'qrcode'" (click)="showQrOption()" *ngIf="isQr()"></fa>
  <fa matSuffix class="suffix-icon" [name]="'fighter-jet'" (click)="getEstimatedGas()" *ngIf="isGas()"></fa>
</mat-form-field>
