<div class="form">
  <div class="form-title">
    <span>Enter a 4 Digit Passcode</span>
  </div>
  <div class="form-item">
    <input maxlength="4" name="password" type="tel" placeholder="____" [formControl]="passwordForm.controls['password']" />
  </div>

  <div class="form-title">
    <span>Re-enter Passcode</span>
  </div>
  <div class="form-item">
    <input maxlength="4" name="re-password" type="tel" placeholder="____" [formControl]="passwordForm.controls['repassword']" />
  </div>

  <div class="form-item">
    <button mat-raised-button class="wallet-button" color="primary" (click)="setPassword()" [disabled]="passwordForm.invalid || !isPasswordSame()">Set Passcode</button>
  </div>
</div>
