password {
  .form{
    display: table;
    width: 100%;
  }

  .form-title {
    display: table-row;
    text-align: center;

    span {
      width: 162px;
      text-align: left;
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }

  .form-item {
    display: table-row;
    text-align: center;

    button {
      margin-top: 20px;
    }
  }

  input{
    margin: 5px 5px 20px 5px;
    padding: 11px 15px 11px 30px;
    border: 1px #8c8c8c solid;
    width: 162px;
    letter-spacing: 15px;
    font-size: 24px;
    font-weight: bolder;
  }
}
