// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

.transparentBody {
  background: transparent !important;
  display: none !important;
}

.overlay{
  opacity:0.8;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.form-title {
  font-weight: bolder;
  font-size: 16px;
  padding-bottom: 5px;
  margin: 10px;
}

.form-section {
  width: 100%;
  border: #acacac 1px solid;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 25px;
}

.form-item {
  margin: 10px 0px;
}

.list-item {
  padding: 10px 0px;
  word-break: break-all;

  label {
    font-weight: bold;
  }
}

.list-item+.list-item {
  border-top: solid #8c8c8c 1px;
}

.warning {
  color: #f30d0d;
}

.list-button {
  float: right;
}

label {
  display: inline-block;
  width: 120px;

  &::after{
    content: ' :';
  }
}

mat-panel-title {
  fa {
    margin-right: 5px;
  }
}

.wallet-button {
  width: 100%;
  margin-bottom: 10px !important;
}


.balance-section {
  display: inline-block;
  font-size: 16px;
}

.spin-icon {
  display: inline-block;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

.fa-database {
  color: #ffc107;
}

.fa-plus-square {
  color: #2ec95c;
}

.fa-refresh {
  color: #51a7e8;
}

.fa-home, .fa-credit-card {
  color: #f30d0d;
}

.fa-address-card {
  color: #8c8c8c;
}

.growl {
  color: #ffffff;
  padding: 10px;
  display: table;
  width: 100%;

  .growl-icon {
    display: table-cell;
    font-size: 30px;
    padding: 0 10px;
  }

  .growl-content {
    display: table-cell;
    padding: 5px 10px;
    vertical-align: top;

    .growl-title {
      font-weight: bold;
      font-size: 16px;
    }

    .growl-message {
      word-break: break-all;
    }
  }


}

.success {
  background: #5cb85c;
}

.failed {
  background: #f33d3d;
}

.process {
  background: #f6ebbc;
}

a {
  text-decoration: none;
}
