<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{symbol}} Transactions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <fa [name]="'arrow-up'"></fa>
          Sent transactions
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="list">
        <div class="list-item transaction-entry" *ngFor="let log of sendLog" >
          <div class="transaction-info">
            <div class="transaction-label">
              <label>Transaction Hash</label>
            </div>
            <div class="transaction-data">
             {{log.hash}}
            </div>
          </div>
          <div class="transaction-info">
            <div class="transaction-label">
              <label>To Address</label>
            </div>
            <div class="transaction-data">
              {{log.to | contact : contacts : wallets}}
            </div>
          </div>
          <div class="transaction-info">
            <div class="transaction-label">
              <label>Amount</label>
            </div>
            <div class="transaction-data">
              {{log.amount}} {{symbol}}
            </div>
          </div>
        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <fa [name]="'arrow-down'"></fa>
          Received transactions
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="list">
        <div class="list-item transaction-entry" *ngFor="let log of receiveLog" >
          <div class="transaction-info">
            <div class="transaction-label">
              <label>Transaction Hash</label>
            </div>
            <div class="transaction-data">
              {{log.hash}}
            </div>
          </div>
          <div class="transaction-info">
            <div class="transaction-label">
              <label>From Address</label>
            </div>
            <div class="transaction-data">
              {{log.from | contact : contacts : wallets}}
            </div>
          </div>
          <div class="transaction-info">
            <div class="transaction-label">
              <label>Amount</label>
            </div>
            <div class="transaction-data">
              {{log.amount}} {{symbol}}
            </div>
          </div>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</ion-content>
