<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{walletData.name}}</ion-title>
    <ion-buttons end>
      <button mat-icon-button [matMenuTriggerFor]="plusMenu">
        <fa class="add-button" [name]="'plus'"></fa>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="ellipsisMenu">
        <fa [name]="'ellipsis-v'"></fa>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<mat-menu #plusMenu="matMenu">
  <button mat-menu-item (click)="gotoCreateContract()">Create Token</button>
  <button mat-menu-item (click)="gotoAddToken()">Add Token</button>
</mat-menu>
<mat-menu #ellipsisMenu="matMenu">
  <button mat-menu-item (click)="gotoStackResource()">Stack Resource</button>
  <button mat-menu-item (click)="gotoUnstackResource()">Unstack Resource</button>
  <button mat-menu-item (click)="gotoBuyRAM()">Buy RAM</button>
  <button mat-menu-item (click)="gotoSellRAM()">Sell RAM</button>
  <button mat-menu-item (click)="readyRemoveWallet()">Remove Wallet</button>
</mat-menu>
<mat-menu #sysMenu="matMenu">

</mat-menu>

<ion-content no-padding>

  <div class="wallet-top-section">
    <div class="wallet-info">
      <div class="wallet-balance">
        <wa-data [data]="walletBalance" [status]="walletBalanceStatus"></wa-data>
        <fa class="refresh-button" [name]="'refresh'" (click)="getBalance()"></fa>
      </div>



      <div class="wallet-address">
        <p>{{walletData.account}}</p>
      </div>

      <div class="wallet-data">
        <label>CPU </label> {{cpuUsed | unit : 'MicrosecondOptimize'}} / {{cpuMax | unit : 'MicrosecondOptimize'}}
      </div>

      <div class="wallet-data">
        <label>Bandwidth </label> {{bwUsed | unit : 'ByteOptimize'}}  / {{bwMax | unit : 'ByteOptimize'}}
      </div>

      <div class="wallet-data">
        <label>RAM </label> {{ramUsed | unit : 'ByteOptimize'}} / {{ramMax | unit : 'ByteOptimize'}}
      </div>

      <div class="wallet-control">
        <a href="#" (click)="gotoSendEos()">
          <fa [name]="'arrow-up'"></fa> Send
        </a>

        <a href="#" (click)="gotoReceiveToken(walletData.account)">
          <fa [name]="'arrow-down'"></fa> Receive
        </a>
      </div>
    </div>
  </div>


  <div class="form-title" *ngIf="walletData.tokens.length > 0">
    Tokens
  </div>
  <div *ngFor="let token of walletData.tokens">
    <wa-eos-token
      [tokenId]="token.id"
      [account]="token.code"
      [symbol]="token.symbol"
      [walletAccount]="walletData.account"
      [walletPrivateKey]="walletData.privateKey"
      (onRemoveToken)="readyRemoveToken($event)"
    ></wa-eos-token>
  </div>

  <div class="form-title" *ngIf="walletData.contracts.length > 0">
    Contracts
  </div>
  <div *ngFor="let contract of walletData.contracts">
    <wa-eos-contract
      [contractId]="contract.id"
      [account]="contract.account"
      [privateKey]="contract.activeKey"
      [walletAccount]="walletData.account"
      [walletPrivateKey]="walletData.privateKey"
    ></wa-eos-contract>
  </div>
</ion-content>
